@media (max-width: 768px) {
  header {
    padding: 0px 15px;
  }
  main {
    height: 700px;
    padding: 130px 10px 0px 10px;
  }
  .description {
    gap: 35px;
  }
  .bookers img {
    width: 40px;
  }
  .bookers h4 {
    font-size: 20px;
  }
  .leaf h4 {
    font-size: 20px;
    width: 104px;
  }
  .leaf img {
    width: 40px;
  }
  .Ecoliday h4 {
    font-size: 20px;
  }
  .Ecoliday img {
    width: 40px;
  }
  .Naturloop h4 {
    font-size: 20px;
  }
  .Naturloop img {
    width: 40px;
  }
  .cards {
    height: 275px;
  }
  .big-card-desc {
    height: 533px;
  }
  .card1 {
    height: 260px;
  }
  .card-container {
    padding: 0px 15px;
  }
  .big-picture {
    height: 350px;
  }
  .card1 h2 {
    font-size: 15px;
  }
  .med {
    font-size: 20px;
  }
  .lorem-ipsum {
    margin-bottom: 15px;
  }
  .card1 h5 {
    font-size: 13px;
  }
  .lorem h2 {
    margin-bottom: 30px;
  }
  .lorem h5 {
    margin-bottom: 150px;
  }
  .dolor {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .stars img {
    width: 16px;
  }
  .cards3 {
    padding: 0px 10px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  nav,
  .book-now-btn {
    display: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .search-section {
    padding: 0px 10px;
  }

  .search {
    width: 40px;
  }
  .background-text h3 {
    font-size: 22px;
    padding-top: 30px;
  }
  .background-text h4 {
    font-size: 12px;
  }
  .bookers img {
    width: 20px;
  }
  .bookers h4 {
    font-size: 10px;
  }
  .leaf h4 {
    font-size: 10px;
    width: 55px;
  }
  .leaf img {
    width: 20px;
  }
  .Ecoliday h4 {
    font-size: 10px;
  }
  .Ecoliday img {
    width: 2dvb;
  }
  .Naturloop h4 {
    font-size: 10px;
  }
  .Naturloop img {
    width: 20px;
  }
  .description {
    gap: 10px;
  }
  .grn-background-section {
    padding: 0px;
    height: 250px;
  }
  .card-container {
    flex-direction: column;
    gap: 3px;
  }
  .cards {
    height: 290px;
  }
  .card1 {
    width: 150px;
    height: 270px;
  }
  .card1-img {
    width: 150px;
  }
  .card1 h2 {
    font-size: 17px;
  }
  .card1 h5 {
    font-size: 15px;
  }
  .lorem h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .lorem h5 {
    margin-bottom: 115px;
  }
  .big-picture {
    width: 335px;
    height: 335px;
  }
  .big-card-desc {
    width: 335px;
    height: 505px;
  }
  .med {
    font-size: 17px;
  }
  .lorem-ipsum {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .nature {
    margin-top: 222px;
  }
  .cards {
    padding: 0px 15px;
  }
  .big-card {
    padding: 0px 15px;
  }
  .seemore-btn {
    width: 116px;
    height: 30px;
  }
  .escape {
    font-size: 20px;
  }
  .ipsum {
    font-size: 16px;
  }
  .title {
    font-size: 50px;
  }
  .desc {
    font-size: 17px;
  }
  .cards3 {
    flex-direction: column;
    padding: 0px 10px;
  }
  .circle-buttons {
    margin-top: 560px;
  }
  .card1-jane,
  .card2-jane {
    width: 350px;
  }
}
