@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 145px;
}

.nav-list {
  display: flex;
  column-gap: 32px;
}
.nav-list a {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.book-now-btn {
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid #4caf4f;
  background: #4caf4f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: white;
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}

.burger-menu {
  display: none;
}

main {
  height: 943px;
  width: 100%;
  background-image: url("../images/background.jpg");
  background-position: bottom;
  background-size: cover;
  padding-top: 185px;
}

.text-wrapper {
  max-width: 637px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.title {
  font-family: "Kufam", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}

.title-span {
  color: #4caf4f;
}

.desc {
  margin: 27px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.search-section {
  max-width: 844px;
  width: 100%;
  height: 102px;
  margin: auto;
  margin-top: 107px;
  border-radius: 5px;
  background: rgba(243, 243, 243, 0.6);
  backdrop-filter: blur(17px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 26px 0px 81px;
  color: #fff;
}

.vertical-line {
  width: 3px;
  height: 48px;
  border-radius: 25px;
  background: #d0d0d0;
}

.search {
  width: 83px;
  padding: 20px;
  border-radius: 4px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.grn-background-section {
  width: 1728px;
  height: 345px;
  width: 100%;
  background: #75ba77;
  padding: 65px 213.773px 83.436px 213px;
}
.background-text {
  text-align: center;
}
.background-text h3 {
  color: #2d2d2d;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  padding-bottom: 13px;
}
.background-text h4 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.description {
  max-width: 1301px;
  width: 100%;
  height: 56px;
  display: flex;
  margin: auto;
  margin-top: 59px;
  justify-content: center;
  gap: 123px;
}
.bookers,
.leaf,
.Ecoliday,
.Naturloop {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.bookers h4 {
  margin-left: 16px;
}
.leaf h4 {
  margin-left: 17px;
}
.Ecoliday h4 {
  margin-left: 14px;
}
.Naturloop h4 {
  margin-left: 13px;
}
.lorem {
  text-align: center;
}
.lorem h2 {
  margin-top: 59px;
  margin-bottom: 19px;
  color: #2d2d2d;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.lorem h5 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.card-container {
  width: 1438px;
  height: 937px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.cards {
  width: 701.951px;
  height: 350.788px;
  border: 1px solid;
  display: flex;
  gap: 35px;
}

.card1 {
  width: 333.427px;
  background-color: #f2f2f2;
  padding: 26px;
}
.card1-img {
  width: 265px;
}
.card1 h2 {
  color: #000;
  font-size: 30.71px;
  font-style: normal;
  font-weight: 700;
  line-height: 39.485px;
  margin-bottom: 8px;
}
.card1 h5 {
  color: #000;
  font-size: 17.549px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 26px;
}
.seemore-btn {
  color: #38813a;
  text-align: center;
  font-size: 17.549px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.323px;
  border-radius: 5.484px;
  border: 2.194px solid #38813a;
  background-color: #fff;
  cursor: pointer;
}
